services:
  server:
    build:
      context: .
    ports:
      - "8083:8083"
    entrypoint: java -Dspring.profiles.active=docker org.springframework.boot.loader.launch.JarLauncher
    depends_on:
      database:
        condition: service_healthy

  database:
     image: postgres:18-alpine
     restart: always
     user: postgres
     volumes:
       - db-data:/var/lib/postgresql/data
     environment:
       - POSTGRES_DB=unittestexample
       - POSTGRES_PASSWORD=root
       - POSTGRES_DB=unittestexample
     ports:
       - "5432:5432"
     healthcheck:
       test: [ "CMD", "pg_isready" ]
       interval: 10s
       timeout: 5s
       retries: 5

  zookeeper:
    image: confluentinc/cp-zookeeper:7.2.15
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "22181:22181"

  kafka:
     image: confluentinc/cp-kafka:7.2.15
     depends_on:
       - zookeeper
     environment:
       KAFKA_BROKER_ID: 1
       KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
       KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092, PLAINTEXT_HOST://localhost:29092
       KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT, PLAINTEXT_HOST:PLAINTEXT
       KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
       KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
     ports:
       - "29092:29092"

  kafka-ui:
     image: provectuslabs/kafka-ui:v0.7.2
     depends_on:
       - kafka
     environment:
       KAFKA_CLUSTERS_0_NAME: local
       KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
       KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
     ports:
       - "8090:8080"

  localstack:
      container_name: localstack_secrets
      image: localstack/localstack
      ports:
        - "4566:4566"
      environment:
        - SERVICES=secretsmanager
        - DEBUG=1
        - DOCKER_HOST=unix:///var/run/docker.sock
      volumes:
        - "./docker/localstack/:/etc/localstack/init/ready.d/"
        - "localstack-volume:/var/lib/localstack"
        - "localstack-sock:/var/run/docker.sock"
volumes:
   db-data:
   localstack-volume:
   localstack-sock:

networks:
  unitestexampledefault:
