name: Build and Run Testes Unitarios

on: [pull_request]



jobs:
  build-and-test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout on repository
        uses: actions/checkout@v2
      - name: Configure Java 21
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: '21'
      - name: Build and run unit tests
        run: mvn clean install
